@model List<Issue>

    @*
        For this major segment of the project the focus was on establishing the connection to the data base and passing that information to the view.
        As such, the first completed view is the "Detail" view, which presents a detailed view of the ticket submitted, including the priority, a description of the problem, and so on.
        The Home or index view is not yet complete, as there i want to add a filtering system that allows the user to sort the ticket by things such as the priority, the date, and the status of the ticket.
    *@
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1 class="text-center">Ticket List</h1
</div>

<h2 class="text-center bg-warning">@TempData["Message"]</h2>

<div class="dropdown_containe d-flex justify-content-between align-content-center">
    <form asp-action="Index" method="get" class="filter-form w-auto">
        <div class="form-group">
            <label for="filter-select">Filter by status:</label>
            <select name="filterStatus" asp-items="ViewBag.StatusOptionsDDL" class="form-control pb-2" id="filter-select"></select>
        </div>
    </form>
    <a asp-controller="issue" asp-action="Add" class="btn btn-info h-50 mt-1">Add New Ticket</a>
</div>

<div class="content_container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th><a asp-action="Index" asp-route-sortStatus="priority">Priority</a></th>
                <th>Subject</th>
                <th>Requester</th>
                <th><a asp-action="Index" asp-route-sortStatus="date" >Request Date</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model)
            {
                <tr>
                    <td>@ticket.issueID</td>
                    <td>@ticket.Priority.PriorityName</td>
                    <td><a asp-controller="Issue" asp-action="Detail" asp-route-id="@ticket.issueID" >@ticket.ticketTitle</a></td>
                    <td>@ticket.ticketName</td>
                    <td>@ticket.submitDate</td>
                </tr>
            }
        </tbody>


    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#filter-select').change(function () {
                $('.filter-form').submit();
            });
        });
    </script>
}